.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  margin-bottom: 15px;
}
.center-align {
  margin: 0 auto;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-auto {
  margin-left: auto;
}
